@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
:root{
  --primary-color: #244cff;
  --white-color:#ffffff;
  --light-color:#70b0f0;
  --grey-color:#737181;
  --dark-color:#202130;

  --shadow: 0 10px 10px -8px;
}
*{
  margin:0;
  padding: 0;
}
*,::before,::after{
  box-sizing: border-box;
}
body{
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  color: var(--dark-color);
  background-color: #2f3640;
}
a{
  text-decoration: none;
  color: inherit;
}
ul{
  list-style: none;
}
img{
  max-width: 100%;
  vertical-align: middle;
  
}
.site{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150vh;
}
.container{
  max-width: 1024px;
  padding: 0 2em;
  margin: 0 auto;
}
.card{
  max-width: 350px;
  background-color: var(--white-color);
  border-radius: 1em;
  box-shadow: 0 0 0 10px rgba(83, 136, 249, 0.507);
  overflow: hidden;
}
.card header{
  position: relative;
  height: 225px;
  padding-top: 3em;
  margin-bottom: 2em;
  transition: height .3s;
}
.card .active header{
  height: 100px;
}
.card header::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: url(assets/Thirumurugachandar.jpg);
  width: 100%;
  height: 100px;
  z-index: 0;
  filter: blur(40px);
  transition: top .3s;
}
.card.active header::before{
  top: -5em;
}
.card header > * {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.card header .meta{
  text-align: center;
  margin-top: 1em;
  width: max-content;
}
.card .active .meta{
  text-align: left;
  transform: scale(.8) translate3d(-100%, -215%, 0);
}
.card header h3{
  font-size: 1.2em;
  font-weight: 600;
}
.card header h4{
  font-size: 0.813em;
  font-weight: 400;
  text-transform: uppercase;
}
.card .thumbnail{
  width: 100px;
  height: 100px;
  transition: transform .3s, left .3s, width .3s, height .3s;
}
.card .thumbnail img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 10px 15px rgb(0 0 0 / 20%);
  
}
.card .active .thumbnail{
  width: 60px;
  height: 60px;
  left: 0;
  transform: translate3d(40%, -40%, 0);
}

.card section{
  padding: 0 1.5em;
}
.card section h4{
  text-transform: uppercase;
}
.card .section-title{
  font-size: 0.813em;
  font-weight: 600;
  margin-bottom: 0.5em; 
}
.card section p{
  font-size: 0.813em;
  color: var(--grey-color);
  margin-bottom: 2em;
}
.card .socials ul{
  display: flex;
  gap: 1em;
}
.card .socials ul li a{
  position: relative;
  width: 36px;
  height: 36px;
  border: 1px solid var(--light-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border .3s, color .3s, background-color .3s;
}
.card .socials ul li:nth-child(1) a{
  box-shadow: var(--shadow) #1877f2;
}
.card .socials ul li:nth-child(2) a {
  box-shadow: var(--shadow) #c32aa3;
}
.card .socials ul li:nth-child(3) a {
  box-shadow: var(--shadow) #1da1f2;
}
.card .socials ul li:nth-child(4) a {
  box-shadow: var(--shadow) #ea4c89;
}
.card .socials ul li:nth-child(1) a:hover{
  background-color: #1877f2;
}
.card .socials ul li:nth-child(2) a:hover {
  background-color: #c32aa3;
}
.card .socials ul li:nth-child(3) a:hover {
  background-color: #1da1f2;
}
.card .socials ul li:nth-child(4) a:hover {
  background-color: #ea4c89;
}
.card .socials ul li a:hover{
  border-color: transparent;
  color: var(--white-color);
}
.card footer nav{
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  margin-top: 4em;
}
.card footer nav a{
  position: relative;
  font-size: 0.813em;
  font-weight: 600;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.card footer nav span{
  position: absolute;
  top: 10px;
  left: 0;
  width: 33.3333%;
  height: 30px;
  background: linear-gradient(135deg, #4f3dee, #2dc0f5);
  filter: blur(15px);
  transition: left .3s;
}
.card footer nav a.active{
  color: var(--white-color);
}
.card footer nav a.active:nth-child(2) ~ span{
  left: 33.3333%;
}
.card footer nav a.active:nth-child(3)~span {
  left: calc(33.3333% * 2);
}

section > div{
  display: none;
}
section > div.active{
  display: block;
  animation: fadein .5s both;
}
@keyframes fadein{
  0%{
    opacity: 0;
    transform: translateY(50%);
  }
}

/* Roadmap */
.card .roadmap{
  position: relative;
  overflow: hidden;
}
.card .roadmap ul{
  margin-top: 2em;
  height: 325px;
  padding-bottom: 2em;
  transition: height .3s;
}
.card .roadmap ul li{
  position: relative;
  padding-left: 50px;
  min-height: 90px;
  margin-bottom: 1em;
  line-height: normal;
}
.card .roadmap ul li::before{
  content: '';
  position: absolute;
  top: 4px;
  left: 7px;
  width: 13px;
  height: 13px;
  background-color: var(--primary-color);
  border-radius: 50%;
  box-shadow: 0 3px 10px 0 var(--primary-color);
}
.card .roadmap ul li span{
  position: absolute;
  top: 26px;
  left: 3px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 0.813em;
  color: var(--grey-color);
  letter-spacing: -8px;
}
.card .roadmap input{
  display: none;
}
.card .roadmap label{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  cursor: pointer;
  z-index: 10;
}
.card .roadmap label::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, var(--white-color) 40%, rgba(255,255,255,0) 100%);
  z-index: -1;
}
.card .roadmap label span{
  font-size: 0.813em;
  display: flex;
  justify-content: center;
  gap: 5px;
  height: 100%;
  align-items: flex-end;
}
.card .roadmap label span:last-child,
.card .roadmap input:checked ~ label span:first-child{
  display: none;
}
.card .roadmap input:checked ~ label span:last-child{
  display: flex;
}
.card .roadmap input:checked ~ ul{
  overflow: auto;
  height: 450px;
  padding-bottom: 4em;
}

/* contact */
.card .contact ul{
  flex-direction: column;
  margin-top: 2em;
}
.card .contact ul li{
  display: flex;
  align-items: flex-start;
  gap: 2em;
}
.card .contact ul li p{
  margin: 0.75em 0 0;
  line-height: normal;
}
.card .contact .socials ul li a{
  box-shadow: none;
}
.card .contact .socials ul li a:hover{
  background-color: var(--primary-color);
}
.card .contact button{
  border: 1px solid var(--primary-color);
  outline: 0;
  background-color: var(--white-color);
  color: var(--primary-color);
  height: 46px;
  padding: 0 2em;
  border-radius: 30px;
  text-transform: uppercase;
  width: fit-content;
  display: block;
  margin: 4em auto;
  cursor: pointer;
  box-shadow: var(--shadow) var(--primary-color);
  transition: background-color .3s, color .3s;
}
.card .contact button:hover{
  background-color: var(--primary-color);
  color: var(--white-color);
}